anyio==4.11.0+computecanada
argon2_cffi==25.1.0+computecanada
argon2_cffi_bindings==25.1.0+computecanada
arrow==1.4.0
asttokens==3.0.0+computecanada
async_lru==2.0.5+computecanada
attrs==25.4.0+computecanada
babel==2.17.0+computecanada
beautifulsoup4==4.14.2
bezier==0.3.0
bleach==6.2.0+computecanada
certifi==2025.10.5+computecanada
cffi==1.17.1+computecanada
charset_normalizer==3.4.4+computecanada
comm==0.2.3+computecanada
contourpy==1.3.1+computecanada
cycler==0.12.1+computecanada
debugpy==1.8.17
decorator==5.2.1+computecanada
defusedxml==0.7.1+computecanada
enum34==1.1.10+computecanada
exceptiongroup==1.3.0+computecanada
executing==2.2.1+computecanada
fastjsonschema==2.21.2+computecanada
filelock==3.20.0+computecanada
fonttools==4.60.1
fqdn==1.5.1+computecanada
fsspec==2025.9.0+computecanada
h11==0.16.0+computecanada
h5py==3.12.0+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
idna==3.11+computecanada
importlib_resources==6.5.2+computecanada
ipykernel==7.0.1+computecanada
ipython==8.37.0
isoduration==20.11.0+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
joblib==1.5.2+computecanada
json5==0.12.1+computecanada
jsonpointer==3.0.0+computecanada
jsonschema==4.25.1+computecanada
jsonschema_specifications==2025.9.1+computecanada
jupyter_client==8.6.3+computecanada
jupyter_core==5.9.1+computecanada
jupyter_events==0.12.0+computecanada
jupyter_lsp==2.3.0+computecanada
jupyter_server==2.17.0+computecanada
jupyter_server_terminals==0.5.3+computecanada
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0+computecanada
jupyterlab_server==2.28.0
kiwisolver==1.4.8+computecanada
lark==1.3.0+computecanada
lxml==5.2.2+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.10.0+computecanada
matplotlib-inline==0.2.1
mistune==3.1.4+computecanada
mpmath==1.3.0+computecanada
narwhals==2.9.0
nbclient==0.10.2+computecanada
nbconvert==7.16.6+computecanada
nbformat==5.10.4+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.4.2+computecanada
nibabel==5.3.2+computecanada
nilearn==0.12.1
notebook==7.4.7
notebook_shim==0.2.4+computecanada
numpy==2.2.2+computecanada
overrides==7.7.0+computecanada
packaging==25.0+computecanada
pandas==2.2.3+computecanada
pandocfilters==1.5.1+computecanada
parso==0.8.5+computecanada
PcmPy==1.1.0
pexpect==4.9.0+computecanada
pillow==11.1.0+computecanada
platformdirs==4.5.0
plotly==6.3.1
prometheus_client==0.23.1+computecanada
prompt_toolkit==3.0.52+computecanada
psutil==7.0.0+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
pycparser==2.23+computecanada
pygments==2.19.2+computecanada
pyparsing==3.2.5+computecanada
python-json-logger==4.0.0
python_dateutil==2.9.0.post0+computecanada
pytz==2025.2+computecanada
PyYAML==6.0.2+computecanada
pyzmq==26.2.1+computecanada
referencing==0.37.0
requests==2.32.5+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rfc3987_syntax==1.1.0+computecanada
rpds_py==0.20.0+computecanada
scikit_learn==1.5.2+computecanada
scipy==1.15.1+computecanada
seaborn==0.13.2+computecanada
Send2Trash==1.8.3+computecanada
six==1.17.0+computecanada
sniffio==1.3.1+computecanada
soupsieve==2.8+computecanada
stack_data==0.6.3+computecanada
sympy==1.13.1+computecanada
terminado==0.18.1+computecanada
threadpoolctl==3.6.0+computecanada
tinycss2==1.4.0+computecanada
tomli==2.3.0
torch==2.6.0+computecanada
tornado==6.5.2+computecanada
traitlets==5.14.3+computecanada
trimesh==4.9.0
triton==3.2.0+computecanada
typing_extensions==4.15.0+computecanada
tzdata==2025.2+computecanada
uri_template==1.3.0+computecanada
urllib3==2.5.0+computecanada
wcwidth==0.2.14+computecanada
webcolors==24.11.1+computecanada
webencodings==0.5.1+computecanada
websocket-client==1.9.0
